footer
  hr
  section.footer
    .dreamshare
      p DREAMSHARE
    .company
      p.company-title Company
      .company__items
        p About
        p Contact
        p Press
        p Blog
        p Terms and Privacy
        p Help
    .partners
      p.partners-title Partners
    .footer-logo
      p DESIGNED BY
      img(src='./images/Bitmap.png' alt='logo')
