header
  .first-section
    .wrapper
      a(href='#')
        .wrapper__logo DREAMSHARE
      .wrapper__login-and-singup
        a(href='#')
          .wrapper__login Log In
        a(href='#')
          .wrapper__singup Sing Up
  h1
    | SHARE YOUR 
    br
    |  HOLIDAY DREAM
  h3 And find the perfect partner to fullfill it
  .header__link Find your holiday partner
